{
    "aws_access_key_id": {},
    "aws_instance_profile": {
        "value": "1"
    },
    "aws_secret_access_key": {},
    "azure_account_key": {},
    "azure_account_name": {},
    "azure_container": {},
    "azure_endpoint": {},
    "ca_certs": {},
    "capacity_concurrency": {
        "value": "10"
    },
    "capacity_memory": {
        "value": "512"
    },
    "custom_image_tag": {
        "value": "hashicorp/build-worker:now"
    },
    "disk_path": {},
    "enable_metrics_collection": {
        "value": "1"
    },
    "enc_password": {
        "value": "{{ ENC_PASSWORD }}"
    },
    "extern_vault_addr": {},
    "extern_vault_enable": {
        "value": "0"
    },
    "extern_vault_path": {},
    "extern_vault_propagate": {},
    "extern_vault_role_id": {},
    "extern_vault_secret_id": {},
    "extern_vault_token_renew": {},
    "extra_no_proxy": {},
    "gcs_bucket": {},
    "gcs_credentials": {
        "value": "{}"
    },
    "gcs_project": {},
    "hostname": {
        "value": "{{ HOSTNAME }}"
    },
    "iact_subnet_list": {},
    "iact_subnet_time_limit": {
        "value": "60"
    },
    "installation_type": {
        "value": "production"
    },
    "pg_dbname": {
        "value": "{{ DATABASE_NAME }}"
    },
    "pg_extra_params": {
        "value": "sslmode=disable"
    },
    "pg_netloc": {
        "value": "{{ DATABASE_ENDPOINT }}"
    },
    "pg_password": {
        "value": "{{ DATABASE_PASSWORD }}"
    },
    "pg_user": {
        "value": "{{ DATABASE_USERNAME }}"
    },
    "placement": {
        "value": "placement_s3"
    },
    "production_type": {
        "value": "external"
    },
    "s3_bucket": {
        "value": "{{ S3_BUCKET }}"
    },
    "s3_endpoint": {},
    "s3_region": {
        "value": "{{ S3_REGION }}"
    },
    "s3_sse": {},
    "s3_sse_kms_key_id": {},
    "tbw_image": {
        "value": "default_image"
    },
    "tls_vers": {
        "value": "tls_1_2_tls_1_3"
    }
}